:host {
  box-sizing: border-box;
  padding: 0 var(--sidePadding);
  display: block;

  & > section {
    width: 100%;
    display: flex;

    &:first-child {
      border: 0;
      border-top: 1px solid var(--borderColor);
      padding-top: var(--sidePadding);
    }

    &:last-child {
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      & p {
        font-size: 18px;
        color: #646d7c;
        font-weight: 300;
        padding: 0 20%;
      }
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: calc(50vh - 200px);
      }
    }

    & > a {
      flex: 1 1 100%;
      height: 3.2rem;
      line-height: 3.1rem;
      border: 1px solid var(--borderColor);
      text-align: left;
      background-image: url(/assets/images/plus_rounded.svg);
      background-repeat: no-repeat;
      background-position: 0.5rem center;
      background-color: transparent;
      padding-left: calc(0.5rem + 30px);
      outline-color: var(--baseColor);
      &:first-child {
        margin-right: 0.25rem;
      }
      &:last-child {
        margin-left: 0.25rem;
      }
    }
  }
}
