:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

input {
  display: none;
}

input[type="radio"]:checked+label{
  border-color: var(--baseColor);
}

label {
  flex: 1 1 25%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 4rem;
  margin: 1rem;
  font-weight: 400;
  border-radius: 8rem;
  border: 1px solid transparent;
}
