<section [formGroup]="form">
  <app-labeled-input label="Название">
    <input type="text" formControlName="name" placeholder="Введите название категории" />
  </app-labeled-input>
  <app-labeled-input label="Раздел">
    <select formControlName="folder">
      <option [ngValue]="menu">Основной - первый уровень</option>
      <ng-container *ngFor="let inItem of menu" [ngTemplateOutlet]="option"
        [ngTemplateOutletContext]="{$implicit: inItem}"></ng-container>
    </select>
  </app-labeled-input>
  <app-labeled-input label="Цвет раздела" noborder="true">
    <app-colors formControlName="color" name="color"></app-colors>
  </app-labeled-input>
</section>

<ng-template #option let-item>
  <option [ngValue]="item">{{ item.name }}</option>
  <ng-container *ngFor="let inItem of item.sections" [ngTemplateOutlet]="option"
    [ngTemplateOutletContext]="{$implicit: inItem}"></ng-container>
</ng-template>